# ===== Python =====
__pycache__/
*.py[cod]
*.pyo

# ===== Virtual environment =====
.venv/
venv/
env/

# ===== Jupyter (se algum dia usar) =====
.ipynb_checkpoints/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== IDEs =====
.vscode/
.idea/

# ===== Logs =====
*.log